@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/Roboto/Roboto-Regular.ttf') format('woff2');
}
*::after, *::before, *{
    box-sizing: border-box;
    /* user-select: none; */
    font-family: Roboto;
}
body{
    margin: 0 ;
    padding: 0 ;
}
.container{
    max-width: 1450px;
    margin: 0 auto;
}
.siteHeader{
    width: 100%;
}
.siteLogo{
    width: 300px;
}
.btnIcon{
    color: black;
    font-size: 18px;
}

.containerTop{
    width: 1460px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerBottomOperatorsButton{
    width: 134px;
    height: 40px;
    outline: 1px solid transparent;
    border-radius: 12px;
    background-color: #FBC100;
    border: 1px solid transparent;
}

.headerTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333333;
    /* border: 1px solid white; */
}
.headerTopOperators{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
}

.headerTopOperatorsCall{
    font-size: 13px;
}

.callOperator{
    padding-top: 10px;
}

.headerTopOperatorsLanguagesBox{
    position: relative;
}

.publicImage{
    width: 20px;
    position: absolute;
    top: 3px;
    left: 2px;
}

.headerTopOperatorsLanguages{
    background-color: #333333;
    color: #ffffff;
    border-radius: 50px;
    width: 90px;
    text-align: center;
    height: 25px;
    outline: 1px solid transparent;
}

.headerTopItem{
    padding-top: 8px;
}

.headerTopList{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    width: 66%;
    
}
.headerTopLink{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 1px;
}
li:nth-child(3) a.headerTopLink{
   padding: 6px;
   background-color: gray;
   border-radius: 7px;
}
.headerBottomOperators{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.headerBottomNavbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid; */
}
.navbar{
    flex-basis: 80%;
    margin-top: 5px;
}
.navbarList{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    list-style: none;
}
.headerBottomNavbarLink{
    font-size: 14px;
    text-decoration: none;
    color: #373F41;

}
.navbarLinks{
    font-size: 14px;
    text-decoration: none;
    color: #373F41;
}

.headerBottomFormInput{
    width: 400px;
    height: 40px;
    border: 2px solid #FBC100;
    outline: 2px solid transparent;
    border-right: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 10px;
}

.formSearchBox{
    display: flex;
    align-items: center;
}

.iconBoxs{
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    height: 40px;
    text-align: center;
    border: 2px solid #FBC100;
    border-left: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.leftBtn, .rightBtn{
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
}
.headerBottomUserBox, .headerBottomLikesBox, .headerBottomBasketsBox {
    height: 60px;
    text-align: center;
    cursor: pointer;
    
}
.personIcon, .heartIcon, .cartIcon{
    font-size: 20px;
}